@import url(https://fonts.googleapis.com/css?family=Slabo+27px|Open+Sans:400,300,300italic,400italic,600,600italic);

@import url(https://fonts.googleapis.com/css?family=Poiret+One);
/*font-family: 'Poiret One', cursive;*/

body {
    background-color: #fff;
    font-family: Open Sans;  
    margin:0;
    
}

div#container {
    background-color: darkgray;
}

/*Title*/
div#title {
    text-align: center;
}
div#title h2 {
    color: #E01931;
    text-align: center;
}

/*Shapes*/
div#shapes {
    background-color: #000;
    width: 100%;
    height: 250px;
}

.triangle, .square, .rectangle, .circle{
    height: 97%;
    width: 24%;
    margin: 3px;
    float: left;
}

.nametriangle, .namesquare, .namerectangle, .namecircle 
{
    text-align: center;
    margin-top: 0;
}

.descriptiontriangle, .descriptionsquare, .descriptionrectangle, .descriptioncircle
{
    padding-left: 4px;    
}

.thetrianlge, .thesquare, .therectangle, .thecircle {
    background-color: #fff;
    margin-top: 5px;
    margin-bottom:0;
}


/* TRIANGLE */
div#shapes .triangle {
    background-color: #71BA51;
}

.thetriangle {
    width: 0;
	height: 0;
	border-left: 50px solid #71BA51;
	border-right: 50px solid #71BA51;
	border-bottom: 100px solid #fff;
    margin-left: 40px;
}

/* SQUARE */

div#shapes .square {
    background-color:#3D8EB9;
}

.thesquare {
    shape-outside: circle(50%);
    width: 100px;
    height: 100px;
    margin-left: 40px;
}

/* RECTANLGE */
div#shapes .rectangle {
    background-color: #FEC606;
}

.therectangle {
    width: 150px;
    height: 100px;
    margin-left: 12px;
}
 
 /*CIRCLE    
div#shapes .circle {
    background-color: #E01931;
}



 
